.page-navigation{
    padding: 20px 0;
    &__button{ 
        flex-shrink: 0;    
        background: var(--color-background);
        color: #4547504d;
        font-weight: 500;
        border: 1px solid #4547504d;
        border-radius: 4px;
        width: 36px;
        height: 36px;
        margin-right: 10px;
        cursor: pointer;
        transition: border-color .4s, color .4s;
        &:hover{
            border-color: var(--color-secondary);
            color: var(--color-secondary);
        }
        &:focus{
            outline: none;
            border: 1px solid var(--color-secondary);
            color: var(--color-secondary);
        }
    }
    &__button_primary{
        color: #fff;
        background: var(--color-main);
        box-shadow: 4px 4px 0 0 var(--color-secondary);
        &:hover{
            border-color: #4547504d;
            color: #fff;
        }
    }
    &__button_last{
        border: none;
    }
}

@media only screen and (max-width: 768px){
    .page-navigation{
        .container{
            padding: 15px 0;
            overflow-x: auto;
        }
        &__button{
            margin-top: 10px;
        }
    }
}