.section-table{
    &_mt_60{
        margin-top: 60px;
    }
    &__container{
        flex-direction: column;
        align-items: flex-start;
    }
    &__header{
        color: var(--text-color-main);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title{
        position: relative;
        font-size: 36px;
        &:after{
            content: attr(data-title);
            position: absolute;
            top: 63%;
            right: -37%;
            transform: translate(50% ,-50%);
            font-size: 18px;
            color: #45475063;
        }
    }
    &__search-container{
        align-self: flex-end;
        overflow: hidden;
        width: 180px;
        height: 36px;
        border: 1px solid #45475040;
        border-radius: 20px;
    }
    &__search-label{
        padding: 0 8px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &__search-icon{
            margin-top: 3px;
            width: 22px;
            height: 22px;
    }
    &__search-input{
        background: transparent;
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        padding: 0 12px;
        margin: 0;
    }
}

@media only screen and (max-width: 768px){
    .section-table{
        &__header{
            flex-direction: column;
            align-items: center;
        }
        &__search-container{
            align-self: center;
            margin-top: 10px;
        }
        &__search-input{
            text-align: center;
        }
    }
}